<meta charset="UTF-8">
<script type="text/javascript" th:src="@{/js/system/menu.js}"></script>

<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-header">菜单列表</div>
				<div class="layui-card-body">
					<div class="site-content">
						<table id="data-table" lay-filter="data-table"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/html" id="tools-type">
	{{# if(d.type == 0){ }}
		<span class="layui-badge layui-bg-orange">目录</span>
	{{# } else {}}
		<span class="layui-badge layui-bg-gray">菜单</span>
	{{#  } }}
</script>

<script type="text/html" id="tools-window">
	<div class="layui-from" style="padding: 20px 30px 0 0;">
		<form class="layui-form" id="add-from" lay-filter="add-from" action="">
			<div class="layui-form-item">
				<label class="layui-form-label">菜单名称</label>
				<div class="layui-input-block">
					<input type="text" name="name" autocomplete="off" class="layui-input" lay-verify="required" />
				</div>
			</div>
			<div class="layui-form-item" name="url">
				<label class="layui-form-label">访问路径</label>
				<div class="layui-input-block">
					<input type="text" name="url" autocomplete="off" class="layui-input" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">排序</label>
				<div class="layui-input-block">
					<input type="text" name="sort" autocomplete="off" class="layui-input" lay-verify="required" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">页面类型</label>
				<div class="layui-input-block">
					<select name="type" lay-verify="" disabled>
						<option value="0" >目录</option>
						<option value="1" >菜单</option>
					</select>
				</div>
			</div>

			<div class="layui-form-item" id="aaa">
				<label class="layui-form-label">按钮</label>
				<div class="layui-input-block" id="checkboxall">
					<input type="checkbox" name="sort" title="写作" />
					
				</div>
			</div>
			<div class="layui-hide">
				<input type="text" name="menuId" autocomplete="off" class="layui-input"/>
				<input type="text" name="parentId" autocomplete="off" class="layui-input"/>
				<input type="text" name="buttonType" autocomplete="off" class="layui-input"/>
				<button class="layui-btn" id="button-submit" lay-submit="" lay-filter="button-submit"></button>
			</div>
		</form>
	</div>	
</script>